{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a> &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<p>Read-only view of resolved Django settings. Values matching sensitive name patterns
(<code>API</code>, <code>TOKEN</code>, <code>KEY</code>, <code>SECRET</code>, <code>PASS</code>,
<code>SIGNATURE</code>, <code>CLIENT_ID</code>, <code>ALGOLIA</code>, <code>BRAZE</code>)
are redacted.</p>

<table style="width: 100%;">
  <thead>
    <tr><th style="text-align: left; width: 25%;">Name</th><th style="text-align: left;">Value</th></tr>
  </thead>
  <tbody>
    {% for name, value in rows %}
      <tr>
        <td style="vertical-align: top;"><code>{{ name }}</code></td>
        <td><pre style="white-space: pre-wrap; margin: 0;">{{ value }}</pre></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
